pip==24.0
ipython==8.18.1

# test
tox==4.15.0
coveralls==4.0.1

# docs
-r requirements_docs.txt

Pillow==8.4.0
# 因为要支持Pillow>=8的版本，所以指定了一些库的低版本
opencv-python==4.10.0.82
imageio==2.3.0  # via scikit-image
scikit-image==0.18.0
typing_extensions==4.12.2
-r requirements_test.txt

# 打包需要
setuptools==70.0.0
wheel==0.43.0
twine==5.1.0
