name: coverage

on:
  push:
    branches:
      - master
  pull_request_target:
    branches:
      - master
    types: [closed]

jobs:
  build:

    runs-on: ubuntu-20.04

    if: github.event.pull_request.merged == true || github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Cache OpenCV
        id: opencv-cache
        uses: actions/cache@v2
        with:
          path: ./opencv-install
          key: ${{ runner.os }}-opencv-cache

      - name: Install OpenCV
        uses: rayandrews/with-opencv-action@v1
        with:
          dir: ./opencv-install
          cached: ${{ steps.opencv-cache.outputs.cache-hit }}
          opencv-version: '4.0.0'

      - name: Install requirements
        run: pip install -r requirements_dev.txt

      - name: Run pytest
        run: |
          pip install --editable .
          pytest tests

      - name: Upload coverage
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run:
          coveralls
